.pt_40 {
  padding-top: 40px;
}
.py_60 {
  padding: 60px 0;
}
.mt_60 {
  margin-top: 60px;
}
// forground
.clr_orange {
  color: #ed820e;
}
.clr_blue {
  color: #0c54a0;
}
// backgroud
.bg_orange {
  background-color: #ed820e;
}
.bg_orange_light {
  background-color: #fff5ea;
}
.bg_green_light {
  background-color: #f6fff1;
}

.btn-secondary {
  background-color: #ed820e !important;
  border-color: #ed820e !important;
}
.resize-img-height {
  object-fit: cover;
  object-position: center;
}
.title {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 400;
}
header {
  .header_main {
    display: flex;
  }
  .date {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
  .month_year {
    line-height: 20px;
    padding-left: 8px;
  }
  .navbar {
    border-radius: 8px;
    background: linear-gradient(91deg, #0c54a0 11.91%, #163482 33%);
  }
}
.banner_section {
  .bg_banner {
    position: absolute;
    height: 400px;
    width: 100%;
    img {
      object-fit: fill;
    }
  }
  .slider {
    position: relative;
    // height: 400px;
    .splide__slide {
      img {
        // border-radius: 20px;
        height: calc(100vh - 158px);
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.highlight_section {
  margin: 70px 0;
  position: relative;
  .bg_orange_light {
    // position: absolute;
    // width: 100%;
    height: 215px;
    border-radius: 20px;
  }
  .highlight_section_content {
    margin-top: -175px;
    .hg_box {
      background-color: #ed820e;
      position: relative;
      width: 200px;
      border-radius: 0 0 20px 20px;
      padding: 20px 0 40px 0;
      .hg_count {
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        display: block;
      }
      .hg_desc {
        font-size: 1.25rem;
        padding: 20px 0;
        color: #fff;
        text-align: center;
        display: block;
        background-color: #4b981c;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 9px;
        top: -9px;
        background-image: url("/images/shape1.svg");
      }
    }
  }
}
.testimonials_section {
  margin-top: 70px;
}
.about_section {
  margin-top: 70px;
  position: relative;
  background-color: #f6fff1;
  padding: 60px 0;
  background: linear-gradient(#f6fff1, rgb(255 255 255 / 32%)),
    url("/images/bg-auth.jpg");
  .about_box {
    h3 {
      font-size: 1.25rem;
      color: #4b981c;
      font-weight: 700;
    }
    .read_more {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
      display: block;
    }
  }
  .divider {
    width: 135px;
    height: 5px;
    background-color: #4b981c;
    display: block;
  }
  .video_frame {
    margin-top: 40px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    border: 5px solid #0c54a0;
    height: 315px;
    iframe {
    }
  }
}
.partner_section {
  padding: 60px 0;
  img {
    margin-bottom: 30px;
  }
}
footer {
  background-color: #eef6ff;
  padding: 40px 60px;

  h4 {
    font-size: 1rem;
    font-weight: 700;
    color: #0c54a0;
  }
  .company_name {
    color: rgba(0, 0, 0, 0.71);
    font-size: 14px;
    font-weight: 600;
  }
  .company_address {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px; /* 141.667% */
  }
  .company_other_details {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
  .br_divider {
    border-right: 2px solid;
    border-color: rgba(12, 84, 160, 0.1);
  }
  .contact_card {
    margin-bottom: 20px;
    border-left: 4px solid #0c54a0;
    padding-left: 15px;
    .contact_name {
      color: rgba(0, 0, 0, 0.71);
      font-size: 14px;
      font-weight: 600;
    }
    .contact_details {
      color: rgba(0, 0, 0, 0.8);
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      margin-top: 4px;
    }
  }
  .social_media_icons {
    a {
      color: #0c54a0;
    }
  }
}

// inner page style
.innerpage {
  min-height: 600px;
  .title {
    font-size: 1.75rem;
    color: #fff;
    z-index: 1;
    text-align: left;
    position: absolute;
    bottom: 30px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .bg_subheader {
    background-image: url("/images/innerbg.png");
    height: 150px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: "";
      background: linear-gradient(
        270deg,
        rgba(12, 84, 160, 0.81) 19.58%,
        rgba(30, 31, 32, 0.49) 77.96%
      );

      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
}

@media (max-width: 576px) {
  .header_mobile {
    .logo {
      text-align: center;
    }
    .header_main {
      display: block;
    }
    .dtvenue_block{
      display: flex;
    }
    .show_info {
      width: 200px;
      // text-align: center;
      .date {
        display: block;
      }
      .month_year {
        br {
          display: none;
        }
      }
    }
    
    .hide_mobile {
      display: none !important;
    }
    .navbar{
      padding: 8px 20px ;
    }
  }
  .banner_section .slider .splide__slide img{
    height: 300px;
  }
  .testimonial_slider{
    .splide__slide{
      height: auto !important;
    }
  }
}
